.topnav{
  background-color: #FBB99F;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  padding: 25px 50px 0px 50px;

}
body {
  font-family: 'Balsamiq Sans', cursive;
  background-color: #FBB99F}

.topnav a{
font-family: 'Balsamiq Sans', cursive;
font-style: normal;
font-weight: 600;
font-size: 23px;
line-height: 45px;
text-align: center;
text-decoration: none;

color: #FF5454;

}

.topnav a:hover{
  background-color: #FBB99F;
  color: white;
  
}

.topnav a.move{
font-family: 'Balsamiq Sans', cursive;
font-style: normal;
font-weight: 800;
font-size: 64px;
line-height: 76px;
text-align: center;
text-decoration: none;


color: #FF5454;
}

.home{
  display: flex;
}

.par1 {
  display: flex;
  flex-direction: column;
  margin: 40px 60px 0px 60px;
  background: #F7F0EA;
border-radius: 40px;  
}

.par2 {
  display: flex;
  flex-direction: column;
  margin: 40px 60px 0px 60px;
  background: #F7F0EA;
   border-radius: 40px;  
}

h1 {
font-family: 'Balsamiq Sans', cursive;
font-style: normal;
font-weight: 600;
font-size: 38px;
line-height: 45px;
text-align: center;
margin: 20px 60px 0px 60px;


color: #424347;
}
h4 {
font-family: 'Balsamiq Sans', cursive;
font-style: normal;
font-weight: 5100;
font-size: 17px;
line-height: 23px;
text-align: center;
padding: 0px 60px 0px 60px;

color: #424347;
}

.bottomnav {
  font-family: 'Balsamiq Sans', cursive;
  background-color: #FBB99F;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.bottomnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 12px;
}

.bottomnav a:hover {
  background-color: #ddd;
  color: black;
}